<div class="login jumbotron center-block">
  <h1>Login</h1>
  <form role="form" (submit)="login($event, username.value, password.value)">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" #username class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" #password class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <!--<a [routerLink]="['/signup']">Click here to Signup</a>-->
  </form>
</div>

<br>
<br>
<br>
<br>

<div>

  <div class="wrap-input relative mb-4 mt-4">
    <input #term type="text" (keyup)="search(term.value)">
    <div class="loader" *ngIf="isLoading">
      <img src="/img/ring.svg" class="d-inline-block align-top" alt="">
    </div>
  </div>


  <ul class="list-group relative">

    <li *ngFor="let item of items" class="list-group-item">
      {{item.title}}
      <img src="{{item.image}}" style=" max-width: 70px; margin: 0 1rem; float: right; " alt="">
    </li>

  </ul>
</div>

<hr>
<!-------- end Wiki -------->

<button (click)="loadUser()" class="btn btn-primary">Load only Tupac</button>
<button class="btn btn-primary" (click)="isClassVisible = !isClassVisible;">Add Class...</button>
<br>
<br>

<div id="my_id" [ngClass]="{'black-bg white': isClassVisible}" class="somediv">
  This is a div written in black.
</div>

<ul class="list-group">
  <li *ngFor="let result of results" class="list-group-item">
    {{result.title}}
  </li>
</ul>

